# no .log files
*.log


# track error.log file
!error.log

# ignore the TODO file
/TODO

# ignore all files in the build/ directory
build/

# ignore docnotes.txt, but not doc/sercer/arch.txt
doc/*.txt

# ignore all .pdf files, but not doc/server/arch.txt
doc/**/*.pdf


